.contentsRank {
	display: flex;
	background-color: white;
	margin-top: 100px;
}

.aside {
	width: 700px;

}

.search_line_champ {
	width: 455px;
}

.selectChampline {
	display: flex;
	justify-content: center;
	width: 455px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.lines {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	background-image: linear-gradient(315deg, #D6E5FC 0%, #9DC4FD 74%);
	height: 51px;
	line-height: 50px;
	padding: 0;
	border: none;
	cursor: pointer;
}


.lineClick {
	background-image: linear-gradient(315deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 74%);
	border: 1px solid #8CB9FC;
}

.lines img {
	filter: invert(54%) sepia(6%) saturate(4603%) hue-rotate(211deg) brightness(127%) contrast(106%);
	width: 25px;
	height: 25px
}

.contentsItemsChamp {
	display: flex;

}

.search_c {
	width: 455px;
	display: flex;
	border: 1px solid #8CB9FC;
}

#champSearch {
	border: none;
	width: 95%
}

input:focus {
	outline: none;
}

.champImgItems {
	display: flex;
	width: 455px;
	border: 1px solid #8CB9FC;
	justify-content: center;
	margin-right: 12px;
}

.se {
	width: 90%;
	margin-top: 10px;
}

.champs {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	margin-left:10px;

}

.champImgItem {
	position: relative;
	flex-direction: column;
	display: flex;
	width: 55px;
	align-items: center;
	margin: 5px;
	 cursor: pointer;
}

.champImgItem:hover {
	transform: scale(1.2);
	transition: transform .5s;
	cursor: pointer;
}

.cimgs {
	overflow: hidden;
	border-radius: 5px;
	filter: drop-shadow(2px 2px 2px gray);
}

.championImg {
	width: 48px;
	height: 48px;
	margin: -4px;
}

.champName {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	width: 52px;
	text-overflow: ellipsis;
	text-align: center;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.champImgItem:hover .tooltiptext {
  visibility: visible;
  	transform: scale(0.8);
  	transition: transform .1s;
}

.champImgItem .tooltip-top {
  width: 120px;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: black transparent transparent transparent;
}
