.contentsRank {

	height: 3500px;
}

.rankLine {
	display: flex;
	text-align: center;
	height: 50px;
	align-items: center;
	margin-bottom: 1px;

}

.lineRank{
	height: 3100px;
	border-left:1px solid #8CB9FC;
	border-right:1px solid #8CB9FC;
	border-bottom:1px solid #8CB9FC;
}

.Rankable{
	height: 100%;
}


.rTable{
	text-align: center;
}
.rankSearch {
	align-items: center;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(315deg, #D6E5FC 0%, #9DC4FD 74%);
	line-height: 50px;
	padding: 0;
	border: none;
	cursor: pointer;
	border: none;
	width: 100px;
}



.rankSearch img {
	filter: invert(54%) sepia(6%) saturate(4603%) hue-rotate(211deg) brightness(127%) contrast(106%);
	width: 25px;
	height: 25px
}

.rankSearch span {
	position: relative;
	display: block;
	color: white;
	text-align: center;
	width: 100%;
}

.ranklineBtn {
	background-image: linear-gradient(315deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 74%);
	border: 1px solid #8CB9FC;
	color: #8CB9FC;
	height: 100%;
}

.ranklineBtn span {
	color: #8CB9FC;
}

.Rankable {
	width: 100%;
}

.tableColumns {
	text-align: center;
	font-size: 15px;
	font-style: inherit;

}



.champs-sc {
	display: flex;
	margin: 5px;
	align-items: center;

}

.champ-sc-img {
	border-radius: 5px;
	overflow: hidden;

}

.champRankImg {
	margin: -4px;
}

.rankChampName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}