.containerAll {
	display: flex;
	flex-direction: column;
	min-width: 1300px;
}

.contentsXa {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 15px;
	padding: 15px;
}

.containerXX {
	display: flex;
	/* 	width: 2000px; */
	height: 360px;
	justify-content: center;
}

.containerXl {
	/* 	width: 200px; */

}

.containerXR {
	width: 500px;
}

.containerXC {
/* 	left: 620px; */
	height: 300px;
	width: 1100px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.graph1 {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	/* 	height: 200px; */
}

.container1 {
	/*	background: rgba(255, 2, 73, 0.09);*/
	/*	background: #99ccff  ;*/
	/*	border: 1px solid skyblue;*/
/* 	border-top: 3px solid white; */
	display: flex;
	height: 125px;
	width: 1100px;
	border: 2px solid #D5D5D5;
	border-radius: 4px;
/* 	margin-bottom: 5px; */
/* 	overflow:hidden; */
	left: 350px;
}

.container2 {
	height: 550px;
	width: 1100px;
	background: white;
}

.container3 {
	height: 500px;
	/* 	background: #ffffff; */
}

.box-left {
	/*	background: red;*/
	flex-basis: 100px;
	padding: 10px;
}

.box-center1 {
	/* 	background: orange; */
	/* 	flex-basis: 500px; */
	flex-basis: 40%;
	text-align: center;
}

.box-center2 {
	/* 	background: #800080; */
	flex-basis: 25%;
	text-align: center;
}

.box-center2up {
	/* 	background: #800080; */
	flex-basis: 80%;
	text-align: center;
}


.box-center2down {
	/* 	background: #800080; */
	flex-basis: 20%;
	text-align: center;
}


.box-center3 {
	display: flex;
	/* 	background: #0080c0; */
	flex-basis: 40%;
	text-align: center;
}

.box-right {
	/*	background: rgba(255, 2, 73, 0.18);*/
	flex-basis: 70px;
	text-align: center;
}

.line1 {
	display: flex;
	width: 1100px;
	height: 20px;
	background: #e6ece9;
}

.champImg {
	display: flex;
	width: 100%;
	height: 70px;
	/* 	background: blue; */
}

.box-left3 {
	/* 	background: #ff00ff; */
	flex-basis: 200px;
}

.box-right3 {
	/* 	background: #8080ff; */
	flex-basis: 200px;
}

.item {
	display: flex;
	/* 	background: #ff80c0; */
	height: 30%;
}

.champSepll {
	display: flex;
	/* 	background: #c0c0c0; */
	height: 70%;
}

.box-left4 {
	/* 	background: #ff00ff; */
	flex-basis: 100px;
}

.box-right4 {
	/*	background: #8080ff;*/
	height: 40px;
	text-align: center;
	line-height: 40px;
	flex-basis: 200px;
}

.box-center4 {
	/*	background: #0080c0;*/
	flex-basis: 85px;
	text-align: left;
}

.box-center44 {
	text-align: center;
	padding: 10px 0;
}

.spell1 {
	height: 55%;
	text-align: center;
	display: flex;
	/* 	background: #ff80c0; */
}

.spell2 {
	height: 55%;
	text-align: center;
	display: flex;
	/*	background: #c0c0c0;*/
}

.blueChamp {
	/* 	background: #ff00ff; */
	flex-basis: 50%;
}

.redChamp {
	/* 	background: #8080ff; */
	flex-basis: 50%;
}

.itemNo {
	/* 	background: #804040; */
	flex-basis: 100px;
}

.itemStart {
	/* 	background: #8080c0; */
	flex-basis: 130%;
	text-align: left;
}

.teamId {
	/* 	background: #ff80ff; */
	flex-basis: 30%;
}

.kda {
	/* 	background: #808000; */
	flex-basis: 10%;
}

.damage {
	/* 	background: #800000; */
	flex-basis: 20%;
}

.cs {
	/* 	background: #008080; */
	flex-basis: 10%;
}

.itemTeam {
	/* 	background: #0080ff; */
	flex: 15%;
}

.aicheck {
	/* 	background: #0080ff; */
	flex: 15%;
	text-align: right;
}

.legend {
	display: flex;
	background: rgba(0, 0, 0, 0.04);
	flex-basis: 10%;
}

.legend1 {
	display: flex;
	background: rgba(0, 0, 0, 0.04);
	flex-basis: 10%;
}

.ct1 {
	display: flex;
	background: rgba(100, 154, 255, 0.38);
	flex-basis: 90%;
	/*	border-bottom: 1px solid black;*/
}

.ct2 {
	display: flex;
	background: rgba(194, 45, 75, 0.09);
	flex-basis: 90%;
	/*	border-bottom: 1px solid black;*/
}

.teamId1 {
	display: flex;
	/* 	background: #8080ff	; */
	flex-basis: 30%;
}

.kda1 {
	/* 	background: #004080; */
	flex-basis: 10%;
}

.damage1 {
	/* 	background: #ffff80; */
	flex-basis: 20%;
}

.damage11 {
	display: flex;
	/*	 	background: #ffff80; */
	flex-basis: 100%;
	height: 20px;
}

.damage111 {
	display: flex;
	/*	 	background: rgb(128, 255, 255); */
	flex-basis: 100%;
}

.damageAmountr {
	display: flex;
	/* 	background: #ffff80; */
	/*	flex-basis: 50%;*/
}

.damageAmountl {
	display: flex;
	/* 	background: #ffff80; */
	/*	flex-basis: 50%;*/
}

.cs1 {
	/* 	background: #ff80c0; */
	flex-basis: 10%;
}

.itemTeam1 {
	/* 	background: #ff8080; */
	flex: 1;
}

.killDeathAssist {
	/* 	background: #ff80c0; */
	height: 50%;
}

.kdaCheck {
	/* 	background: #80ffff; */
	height: 50%;
}

.damageGraph {
	background: #80ff80;
	/*	height: 100%;*/
	border-radius: 2px;
	/* 	background-color: #4caf50; */
	transition: width 0.5s ease-in-out;
	height: 40%;
	font-size: 14px;
}

.itemTeamCheck {
	display: flex;
	/* 	background: #0080c0; */
	text-align: center;
}

.teamItem1 {
	width: 250px;
	/* 	background: #0080c0; */
	text-align: left;
}

.aidetail {
	top: 15px;
	width: 80px;
	text-align: center;
}

.champImgM {
	padding: 5px;
	/* 	background: #80ffff; */
/* 	bottom: 100px; */
}

.champaaa {
	/* 	background: #80ffff; */
	/* 	flex-basis: 10%; */
	height: 20%;
}

.spellM {
	/* 	background: #ff80c0; */
	flex-basis: 10%;
}

.spellM1 {
	/* 	background: #ff80c0; */
	text-align: right;
}

.spellM2 {
	/* 	background: #ff80c0; */
	text-align: right;
}

.nickNameM {
	/* 	background: #ff8040; */
	display: flex;
	flex-basis: 80%;
}

.nickNameMR {
	/* 	background: #ff8040; */
	height: 50px;
	text-align: center;
	line-height: 50px;
	flex-basis: 90%
}

.nickNameML {
	/* 	background: #ff8040; */
	flex-basis: 10%;
}

.container333Box {
	display: flex;
	width: 1100px;
	border: 1px solid rgb(157, 196, 253);
	height: 200px;
}

.container333 {
	width: 1100px;
	display: flex;
	/* 	justify-content: center; */
	padding: 20px 0px 0px 20px;
	/* 	height: 660px; */

	/*    position: relative; */
}

.stmH {
	/* 	width: 60%; */
	/* 	height: 30%; */
	/* 	margin: 0 auto; */
	/*    border: 1px solid black; */
	/* 	position: relative; */

}

.stmHright {
	/* 	width: 49.5%; */
	/* 	height: 100%; */
	/* 	float: left; */

}

.stmBlank {
	width: 100%;
}

.cpicon {
	width: 100%;
	height: 50%;
	position: relative;
	margin: 0 auto;
}

.cpimg {
	/* 	width: 20%; */
	/* 	height: 90%; */
	/*    position: relative; */
	/* 	float: right; */
	/*    border : 1px solid black; */
	/* 	border-radius: 70%; */
	/* 	margin: 5% 25% 0% 0%; */

}

.uidLevelBox {
	display: flex;
	width: 50px;
	transform: translateX(17px);
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: rgb(157, 196, 253);
	border-radius: 3px;
	color: white;
	top: 224px;
}

.uidBox {
	display: flex;
}

.uid {
	/* 	width: 60%; */
	/* 	height: 20%; */
	/* 	text-align: center; */
	/* 	float: right; */
	/*    border : 1px solid black; */
	/* 	margin-right: 5%; */

}

.ulevel {
	/* 	width: 60%; */
	/* 	height: 20%; */
	/* 	text-align: center; */
	/* 	float: right; */
	/*    border : 1px solid black; */
	/* 	margin-right: 5%; */

}

.u-chart {
	/* 	width: 150px; */
	/* 	height: 150px; */
	/* 	position: relative; */
	/*    border: 1px solid black; */
	/* 	margin: 7% 10% 10% 15%; */

}

.stmH {
	display: flex;
}

.stmHleft {
	/* 	width: 50%; */
	/* 	height: 100%; */
	/* 	float: right; */

}

.chart-container {
	width: 40%;
	/* 원하는 너비로 조정 */
	height: 40%;
	/* 원하는 높이로 조정 */
	margin: 0 auto;
	/* 가운데 정렬을 위해 */
}

.loadMore {
	width: 100%;
	height: 35px;
	border: none;
	background-color: whitesmoke;
	color: black;
	font-size: 15px;
}


.stampLose {
	/* position: absolute; */
	height: 30px;
	width: 90px;
	left: 0px;
	top: 0px;
	border-radius: 10px;
	position: relative;
	background-color: #ef8080;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
	text-algin: justify;
	/*   animation-duration: 0.5s; */
	opacity: 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: auto;
}

.stampWin {
	/* position: absolute; */
	height: 30px;
	width: 90px;
	left: 0px;
	top: 0px;
	border-radius: 10px;
	position: relative;
	background-color: #0080ff;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
	text-algin: justify;
	/*   animation-duration: 0.5s; */
	opacity: 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: auto;
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0;
	}

	10% {
		opacity: .50;
		transform-origin: 50% 50%;
		transform: rotate(-2deg) scale(5);
		transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	}

	100% {
		opacity: 1;
		transform: rotate(-15deg) scale(1);
	}
}

.stampLose {
	/* position: absolute; */
	height: 30px;
	width: 90px;
	left: 0px;
	top: 0px;
	border-radius: 10px;
	position: relative;
	background-color: #ef8080;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
	text-algin: justify;
	/*   animation-duration: 0.5s; */
	opacity: 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: auto;
}

.stampWin {
	/* position: absolute; */
	height: 30px;
	width: 90px;
	left: 0px;
	top: 0px;
	border-radius: 10px;
	position: relative;
	background-color: #0080ff;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: 0.5s;
	text-algin: justify;
	/*   animation-duration: 0.5s; */
	opacity: 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	z-index: auto;
}

.damageAmountr[name]:hover::after {
	content: attr(name);
	position: relative;
	top: 80%;
	right: 50%;
/*	width: 120px;*/
/*	height: 80px;*/
/*	line-height: 80px;*/
/*	padding: 5px;*/
	background: yellow;
/*	font-size: 24px;*/
/*	border: 1px solid blue;*/
/*	color: blue;*/
/*	text-align: center;*/
/*	z-index: 100;*/
}
.damageAmountl[name]:hover::after {
	content: attr(name);
	position: relative;
	top: 80%;
	right: 50%;
/*	width: 120px;*/
/*	height: 80px;*/
/*	line-height: 80px;*/
/*	padding: 5px;*/
	background: yellow;
/*	font-size: 24px;*/
/*	border: 1px solid blue;*/
/*	color: blue;*/
/*	text-align: center;*/
/*	z-index: 100;*/
}
@-webkit-keyframes pulse {
	0% {
		opacity: 0;
	}

	10% {
		opacity: .50;
		transform-origin: 50% 50%;
		transform: rotate(-2deg) scale(5);
		transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	}

	100% {
		opacity: 1;
		transform: rotate(-15deg) scale(1);
	}
}

/* 튤팁시작 */

[tooltip] {
	position: relative;
	/* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
	text-transform: none;
	/* opinion 2 */
	font-size: .9em;
	/* opinion 3 */
	line-height: 1;
	user-select: none;
	pointer-events: none;
	position: absolute;
	display: none;
	opacity: 0;
}

[tooltip]::before {
	content: '';
	border: 5px solid transparent;
	/* opinion 4 */
	z-index: 1001;
	/* absurdity 1 */
}

[tooltip]::after {
	content: attr(tooltip);
	/* magic! */

	/* most of the rest of this is opinion */
	font-family: Helvetica, sans-serif;
	text-align: center;

	/* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
	min-width: 3em;
	max-width: 21em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1ch 1.5ch;
	border-radius: .3ch;
	box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
	background: #333;
	color: #fff;
	z-index: 1000;
	/* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
	display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
	display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
	bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
	left: 50%;
	transform: translate(-50%, -.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
	to {
		opacity: .9;
		transform: translate(-50%, 0);
	}
}

@keyframes tooltips-horz {
	to {
		opacity: .9;
		transform: translate(0, -50%);
	}
}


/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
	animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
	animation: tooltips-horz 300ms ease-out forwards;
}

/* 튤팁끝 */