.modal_wrap {
	width: 500px;
	height: 320px;
	position: absolute;
	border: 2px solid black;
	background: #eee;
	z-index: 2;
	display: none;
	text-align: center;
	font-family: arial;
	outline: dashed 1px black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal_wrap.show-modal {
	display: block;
}

.modal_background.show-modal {
	display: block;
}

.modal_background {
	position: absolute;
	width: 100%;
	height: 200%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
}

.modal_close {
	width: 5%;
	height: 5%;
	position: absolute;
	top: 5%;
	right: 5%;
}

.modal_wrap .text {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.modal_close .closeImg {
	display: block;
	width: 100%;
	height: 100%;
}

