.left {
	width: 50%;
	float: left;
	box-sizing: border-box;
	background: rgba(54, 38, 156, 0.25)
}

.right {
	width: 50%;
	float: right;
	box-sizing: border-box;
	background: #ece6cc;
}
.inner-div {
	z-index: 3;
  width : 400px;
  height : 50px;
  background: rgba(54, 38, 47, 0.25);
  position: absolute;
  top: 95%;
  left: 28%;
  margin: -50px 0 0 -50px;
}
/* 여기서부터 퍼오거 */
.btn-gradient.red{ 
  background: rgba(250,90,90,1);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)));
  background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
  background: -moz-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
  background: -o-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
  background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}

/* 여기서부터 퍼오거 */
/* 12 */

.wrap {
  padding: 10px;
}

.tab {
  border-top: 1px solid #E2E2E1;
  border-right: 1px solid #E2E2E1;
  width: 400px;
}

.tab .tabitems {
  width: 100%;
  position: relative;
}

.tab .tabitems .item {
  display: inline-block;
  width: 49%;
}

.tab .tabitems .item:first-child {
  border-right: 1px solid #E2E2E1;
  border-left: 1px solid #E2E2E1;
  background-color: #F5F5F5;
}

.tab .tabitems li a {
  display: block;
  border-radius: 0;
  margin-right: 0;
  color: #333;
  font-size: 15px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
}

.tab .tabitems li a.active,
.tab .tabitems li a:hover {
  color: #e65439;
}

.tab .tabitems li a.active:after,
.tab .tabitems li a:hover:after {
  height: 3px;
}


.tab .tabitems .item:last-child .tablink.active:after {
  content: "";
  width: 48%;
  height: 1px;
  background-color: #E2E2E1;
  position: absolute;
  bottom: 0;
  left: 0;
}



/*tabA*/
#tabA {
  background-color: #f5f5f5;
  border-top: 1px solid #E2E2E1;
  margin-top: -1px;
}

/*#tabB*/
#tabB {
  background-color: #fff;
}

.tabcontent {
  border-right: 1px solid #E2E2E1;
  border-left: 1px solid #E2E2E1;
  border-bottom: 1px solid #E2E2E1;
  width: 100%;
  height: 150px;
  padding-bottom: 20px;
}

.tabcontent p {
  font-size: 12px;
  padding: 20px;
}
/* /////// */
.main{
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  
}

.animation span{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
  
.animation .two_text {
  display: inline-block;
  transform-origin: center;
  padding: 0 0.5rem;
  color: #2aff29;
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
채팅방

*{
    box-sizing: border-box;
}

#chatt{
    width: 800px;
    margin: 20px auto;
}

#chatt #talk{
    width: 800px;
    height: 400px;
    overflow: scroll;
    border : 1px solid #aaa;
}
#chatt #msg{
    width: 740px;
    height:100px;
    display: inline-block;
}

#chatt #sendZone > *{
    vertical-align: top;

}
#chatt #btnSend{
    width: 54px;
    height: 100px;
}

#chatt #talk div{
    width: 70%;
    display: inline-block;
    padding: 6px;
    border-radius:10px;

}

#chatt .me{
    background-color : #ffc;
    margin : 1px 0px 2px 30%;
}

#chatt .other{
    background-color : #eee;
    margin : 2px;
}








