* {
    cursor: url(../../img/normal.png) 2 2, auto;
}

#container {
	width: 1300px;
	height: 2000px;
	margin: 0auto;
	border: 1px solid black;
	
	background-color: #3C3C41;
}

#header {
	width: 1100px;
	height: 300px;
	margin: 0auto;
	border: 1px solid black;
}

#champbox {
	width: 47%;
	height: 250px;
	float: left;
	margin: 10px;
	border: 1px solid black;
}

.champimg1 {
	width: 35%;
	height: 160px;
	float: left;
	margin: 20px;
	border: 1px solid black;
	border-radius: 50%;
}

#vs {
	width: 13%;
	height: 60px;
	float: left;
	margin-top: 80px;
	
}

.champimg2 {
	width: 35%;
	height: 160px;
	float: left;
	margin: 20px;
	border: 1px solid black;
	border-radius: 50%;
}

#champname1 {
	width: 40%;
	height: 30px;
	float: left;
	margin: 10px;
	
	text-align: center;
}

#gongback {
	width: 10%;
	height: 50px;
	float: left;
	margin: 0 auto;
}

#champname2 {
	width: 40%;
	height: 30px;
	float: left;
	margin: 10px;
	
	text-align: center;
}

#box {
	width: 47%;
	height: 250px;
	float: left;
	margin: 10px;
	border: 1px solid black;
}

#ex1 {
	width: 96%;
	height: 45%;
	margin: 10px;
	border: 1px solid black;
	
	background-color: #FFFFFF;
}

#searchbox {
	width: 96%;
	height: 45%;
	margin: 10px;
	border: 1px solid red;
}

#search {
	width: 45%;
	height: 90px;
	margin: 10px; float : left;
	border: 1px solid black;
	float: left;
}

#searchChamp {
	margin-top : 50px;
	margin-left : 15px;
}

#line {
	width: 45%;
	height: 50px;
	margin: 10px;
	margin-top: 50px;
	float: left;
	border: 1px solid black;
}

#topimg {
	width: 19%;
	height: 45px;
	margin: 1px;
	float: left;
	border: 1px solid black;
	line-height: 40px;
	text-align: center;
}

#jugimg {
	width: 19%;
	height: 45px;
	margin: 1px;
	float: left;
	border: 1px solid black;
	line-height: 40px;
	text-align: center;
}

#midimg {
	width: 19%;
	height: 45px;
	margin: 1px;
	float: left;
	border: 1px solid black;
	line-height: 40px;
	text-align: center;
}

#adcimg {
	width: 19%;
	height: 45px;
	margin: 1px;
	float: left;
	border: 1px solid black;
	line-height: 40px;
	text-align: center;
}

#supimg {
	width: 19%;
	height: 45px;
	margin: 1px;
	float: left;
	border: 1px solid black;
	line-height: 40px;
	text-align: center;
}

#champListbox {
	width: 1100px;
	height: 700px;
	margin-top: 350px;
	border: 1px solid black;
}

#champList::-webkit-scrollbar, body::-webkit-scrollbar {
	width: 8px;
}

#champList::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	height: 3px;
	background: #785A28;
	border-radius: 15px;
}

#champList::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
	background: rgba(33, 122, 244, .1);
}

#champList {
	padding: 20px 20px 20px 20px;
	background-color: #091428;
	color: #C8AA6E;
	top: 60px;
	width: 1098px;
	height: 698px;
	display: block;
	overflow: scroll;
	float: left;
	margin: 0auto;
	
	display: none;
}

li {
	position: relative;
	width: 84px;
	height: 84px;
	float: left;
	padding: 1px;
	margin-left: 10px;
	margin-bottom: 30px;
	cursor: pointer;
}

ul {
	list-style: none;
	height: 500px;
	padding-inline-start: 10px;
}

span {
	display: block;
	width: 72px;
	line-height: 14px;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 2px;
	height: 16px;
	text-align: center;
}

.champimg1 img, .champimg2 img {
	
	width: 100%;
	height: 160px;
	
	border-radius: 50%;
	
}

#vs img {
	
	width: 100%;
	height: 60px;
	
}
/*.mid-header{*/
/*	width : 2500px;*/
/*	height : 40px;*/
/*	position: relative;*/
/*	top : 300px;*/
/*	border: 1px solid white;*/
/*}*/
.mid-header #anBtn {
	width: 300px;
	height: 40px;
	font-size: 16px;
	
	outline: none;
	border-radius: 15px;
	
	cursor: auto;
	display: none;
	
	position: absolute;
	
	left: 42%;
	top: 360px;
	
	cursor: url(../../img/unavailable.png) 2 2, auto;
}
.mid-header .tier {
	width: auto;
	height: 35px;
	float : left;
	font-size: 15px;
	margin-left: 7px;
	top: 35px;
	
	position: relative;
	border-radius: 15px;
	
	display: none;
	
	cursor: url(../../img/unavailable.png) 2 2, auto;
}


#champList img:hover, #line .img .positionICN:hover {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}