
@charset "UTF-8";
#Sform {
          display: inline-block;
          text-align: center;
        }
#container1 {
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: wihte;
}
#div1{
	text-align : center;
}

#header-profile-info{
	width : 1000px;
	height : 200px;
	margin : 0 auto;
	background-color : white;
	
}
#profile-icon{
	width : 100px;
	height : 100px;
	float : left;
	background-color : black;
}
#profile-name{
	float : left;
	width : 390px;
	margin-left: 10px;
}

#tierbox{
	width : 500px;
	height : 200px;
	float : right;
	background-color : white;
	border: 1px solid black;
}
#tierimage{
	width : 29%;
	height : 100px;
	float : left;
	margin : 10px;
	background-color : lightblue;
	border: 1px solid black;	
}
#tier-info{
	width: 29%;
	height : 120px;
	float : left;
	margin : 10px;
}

#tiername{
	width : 150px;
	height : 80px;
	margin : 0 auto;
	text-align : center;
	background-color : lightblue;
	border: 1px solid black;	
}
#lp{
	width : 150px;
	height : 40px;
	margin :  0 auto;
	text-align : center;
	background-color : lightblue;
	border: 1px solid black;
}

#win-lose-box{
	width: 29%;
	height : 120px;
	float : left;
	margin : 10px;
	background-color : lightblue;
	border: 1px solid black;	
}
#win-lose{
	width : 145px;
	height : 60px;
	text-align : center;
	border: 1px solid black;
}
#winning-percentage{
	width : 145px;
	height : 60px;
	text-align : center;
	border: 1px solid black;
	
}
