@charset "UTF-8";
#Sform {
          display: inline-block;
          text-align: center;
        }
#container1 {
    width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: wihte;
}
#div1{
	text-align : center;
}