@charset "UTF-8";

.duoTitle {
	display: flex;
	justify-content: center;
}

.duoContainer {
	display: flex;
	min-height: 90vh; /* 필요시 조절 */
	justify-content: center;
}

.duoMain {
	width: 1080px;
}

.duoSearch {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.position-icon {
	display:flex;
	align-items: center;
	background-color: rgba(62, 86, 145, 0.9);
	width: 200px; /* 사이즈 조절..*/
	height: 40px;/* 사이즈 조절..*/
	color: white;
}
.icon-img{
	display: flex;
	justify-content: center;
	width: 50%;
}

#btn-duoSearch {
	border: none;
	background-color: rgb(120, 173, 252);
	color: white;
	width: 150px;
	height: 40px;
	border: 3px solid rgb(120, 173, 252);
	border-radius: 3px;
}

#btn-duoSearch:hover {
	background-color: rgb(104, 124, 179);
	border: 3px solid rgb(104, 124, 179);;
	border-radius: 3px;
}
/*  테이블 세부 css 적용 */
.duoT {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 3px solid rgb(104, 124, 179);
	border-radius: 3px;
	text-align: center;
}

.DuoTable {
	width: 100%;
}

.duo-th {
	text-align: center;
	background-color: rgb(104, 124, 179);
}

.duo-momo {
	display: flex;
	border: 1px solid rgb(203, 223, 254);
	border-radius: 3px;
	width: 186px;
	background-color: rgba(157, 196, 253, 0.7);
	align-items: center;
	justify-content: center;
}

.duo-m {
	overflow: hidden;
	width: 100%;
	margin: 5px;
}

.duo-ms {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.Dtd {
	background-color: rgba(62, 86, 145, 0.9);
	height: 60px;
	border-bottom: 1px solid white;
}

.duoitems {
	font-size: 13px;
	color: #f7f7f9;
}


/* 장기훈 드랍다운 */
.dropbtn {
  background-color: #ea2129;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}