@charset "UTF-8";
.ground{
	width : 85%;
	height : 1000px;
	left : 15%;
/* 	border: 1px solid black; */
	position: relative;
	background-color : hsla(214, 80%, 71%, 0.8);
/*	background-color : white;*/	
}
.left{
	width : 30%;
	height : 950px;
	float : left;
	border-right : 1px solid white;
}

.right{
	width : 70%;
	height : 950px;
	float : right;
}

.profile{
	width : 50%;
	height : 50%;	
	margin: 5% 00% 2% 10%;
	position: relative;
	border: 5px solid white;
	border-radius: 1%;
	background-color : rgba(158, 200, 255, 1);
}
.pline1{
	width : 98%;
	height : 7%;
	margin : 1%;
	position : relative;
/* 	border: 1px solid black; */
}
.changebutton{
	width : 10%;
	
}
.pline1-1{
	width : 50%;
	height : 100%;
	float : left;
	position : relative;
	text-align: left;
    color: white;
    font-size: 100%;
}
.pline1-2{
	width : 10%;
	height : 100%;
	float : right;
	margin-right : 1%;
	text-align : right;
	position : relative;
/* 	border: 1px solid black; */
}
.pline2{
	width : 98%;
	height : 16%;
	margin : 0 auto;
	position : relative;
	border-bottom : 1px solid white;
	text-align: left;
	color : white;
	font-size : 30px;
}
.pline3{
	width : 98%;
	height : 16%;
	margin : 0 auto;
	position : relative;
/* 	border: 1px solid black; */
	text-align: left;
	color : white;
	font-size : 30px;
}

.pline4{
	width : 98%;
	height : 16%;
	margin : 0 auto;
	position : relative;
	border-bottom : 1px solid white;
	text-align: left;
	color : white;
	font-size : 30px;
	margin-bottom : 0.5%;
}

.emailimg{
	width : 70px;
	height : 100%;
/* 	border-radius : 1%; */
	position : relative;
	text-align : left;
	background-image: url("https://cdn-icons-png.flaticon.com/128/8763/8763008.png");
	background-size: cover;
	float : left;
	margin-right : 2%;
}
.pline5{
	width : 98%;
	height : 16%;
	margin : 0 auto;
	position : relative;
/* 	border: 1px solid black; */
	text-align: left;
	color : white;
	font-size : 30px;
}
.cash{
	float : right;
}
.pline5text{
	float : left;
}

.pointimg{
	width : 70px;
	height : 100%;
/* 	border-radius : 1%; */
	position : relative;
	text-align : left;
	background-image: url("https://cdn-icons-png.flaticon.com/128/5540/5540579.png");
	background-size: cover;
	float : left;
	margin-right : 2%;
	
}
.pline6{
	width : 98%;
	height : 16%;
	margin : 0.5%;
	position : relative;
/* 	border: 1px solid black; */
	text-align: left;
	color : white;
	font-size : 30px;
}
.c-txt{
	width : 50%;
	height : 5%;
	margin : 0% 0% 0.5% 10%;
	position: relative;
	color : white;
	text-align: left;
	font-size: 30px;
	
}
.agree-to-receive{
	width : 50%;
	height : 20%;
	margin: 0% 0% 5% 10%;
	position: relative;
	border: 5px solid white;
	border-radius: 1%;
	background-color : rgba(158, 200, 255, 1);
	
}
.aline1{
	width : 100%;
	height : 40%;
	margin : 2% 5% 0% 0%;
	position: relative;
/* 	border: 5px solid white; */
	border-radius: 1%;
	background-color : rgba(158, 200, 255, 1);
	text-align: left;
	font-size: 25px;
	color: white;
}
.phoneimg{
	width : 30px;
	height : 50%;
/* 	border-radius : 1%; */
	position : relative;
	text-align : left;
	background-image: url("https://cdn-icons-png.flaticon.com/128/7344/7344132.png");
	background-size: cover;
	float : left;
	margin : 0.3% 0.5% 0.5% 0.5%;
}
.aline1text{
	width : 30%;
	float : left;
}
.aline2{
	width : 100%;
	height : 33%;
	margin : 1% 5% 0% 0%;
	position: relative;
/* 	border: 5px solid white; */
	border-radius: 1%;
	background-color : rgba(158, 200, 255, 1);
	text-align: left;
	font-size: 25px;
	color: white;
}
.emailimg2{
	width : 30px;
	height : 50%;
/* 	border-radius : 1%; */
	position : relative;
	text-align : left;
	background-image: url("https://cdn-icons-png.flaticon.com/128/5151/5151980.png");
	background-size: cover;
	float : left;
	margin : 0.3% 1% 0.5% 1%;
}
.aline2text{
	width : 30%;
	float : left;
}

/* ------------------------- */
.on-off-btn{
  float : right;
  width: 5%;
  height: 50%;
  text-align: left;
  margin-top : 0.3%;
  margin-right : 8%;
}
#switch {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#switch2 {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid rgba(158, 200, 255, 1);
  border-radius: 20px;
  transition: 0.2s;
}
.switch_label:hover {
  background: #efefef;
}
.switch_label2 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid rgba(158, 200, 255, 1);
  border-radius: 20px;
  transition: 0.2s;
}
.switch_label2:hover {
  background: #efefef;
}
.onf_btn {
  position: absolute;
  top: 4px;
  left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(158, 200, 255, 1);
  transition: 0.2s;
}
.onf_btn2 {
  position: absolute;
  top: 4px;
  left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(158, 200, 255, 1);
  transition: 0.2s;
}


/* checking style */
#switch:checked+.switch_label {
  background: rgba(158, 200, 255, 1);
  border: 2px solid #fff;
}

#switch:checked+.switch_label:hover {
  background:  rgba(158, 200, 255, 1);
}

/* move */
#switch:checked+.switch_label .onf_btn {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px  rgba(158, 200, 255, 1);
}

/* checking style */
#switch2:checked+.switch_label2 {
  background: rgba(158, 200, 255, 1);
  border: 2px solid #fff;
}

#switch2:checked+.switch_label2:hover {
  background: rgba(158, 200, 255, 1);
}

/* move */
#switch2:checked+.switch_label2 .onf_btn2 {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(158, 200, 255, 1);
}

