.modal_wrap {
	border: 2px solid black;
	background: #eee;
	z-index: 2;
	display: none;
	text-align: center;
	font-family: arial;
	outline: dashed 1px black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal_wrap.show-modal {
	display: block;
}

.modal_background.show-modal {
	display: block;
}

.modal_background {
	position: absolute;
	width: 100%;
	height: 200%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
}

.modal_close {
	width: 5%;
	height: 5%;
	position: absolute;
	top: 5%;
	right: 5%;
}

.modal_wrap .text {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.modal_close .closeImg {
	display: block;
	width: 100%;
	height: 100%;
}

.duoPartyChatt {
	border: 2px solid black;
	background: #eee;
	z-index: 2;
	text-align: center;
	font-family: arial;
	outline: dashed 2px black;
	position: fixed;
	top: 90%;
	left: 90%;
	background-color: skyblue;
	border: none;
	padding: 10px 30px;
	width: 100%;
	line-height: 60px;
	box-sizing: border-box;
	padding: 0 10px;
}

/* //오른쪽아래 승낙버튼// */
* {
	margin: 0;
	padding: 0;
}

/* 승낙전체장소조절 */
.accordion-box {
	
	position: fixed;
	top: 80%;
	left: 80%;
	width: 300px;
	margin: 0 auto;
}

@keyframes fadeInUp { 0% {
	opacity: 0;
	transform: translate3d(0, 100%, 0);
}

to {
	opacity: 1;
	transform: translateZ(0);
}

}
.question {
	position: relative;
	animation: fadeInUp 2s;
}
.a1 {
	
	color : gray;
}


/* 말풍선 */
.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: .4em;
}
 
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

/* 사이드바 */
.side-bar{                              
    background-color: lightgray;
    position: absolute;
    top:0;
    left:-260px;
    width: 300px;
    height: 100%;
    z-index: 3;
}

.side-bar:hover{                      
    left:0%;
    background-color:gray	;
}
.side-bar>.icon>div{                   
    text-align:right;
    padding: 10px;
    color: black;
}
.side-bar:hover>.icon>div:last-child{  
    display:block;
    color: white;
}

.side-bar:hover>.icon>div:first-child{  
    display:none;
}
.side-bar>.icon>div:last-child{        
    display:none;
}
.side-bar>.menu ul>li{
    position:relative;
}
.side-bar>.menu ul>li>a{
    display:block;
    font-weight:bold;
    padding:10px;
    white-space:nowrap;
}
.side-bar>.menu ul>li:hover>a{
    background-color:white;
    color:black;
}

.side-bar>.menu ul ul{
    display:none;
    position:absolute;
    top:0;
    left : 100%;
    border: 2px solid red;
    background-color : black;
    width:100%;
}
.side-bar>.menu ul>li:hover>ul{
    display:block;
}



.wrap{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.content{
	width: 80%;
	height: 150px;
	margin: 20px auto;
}

.content button{
	border: none;
	width: 100px;
	height: 30px;
	margin-top: 20px;
	float: right;
	cursor: pointer;
}

/* 모달창 */
#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
	background: rgba(69, 139, 197, 0.70);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 400px;
	height: 500px;
	position: relative;
	top: -100px;
	padding: 10px;
}

#modal .title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#modal .title h2 {
	display: inline;
}

#modal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

/* 4번모달 */

/* The Modal (background) */
.paymentModal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
} /* Modal Content/Box */
.payment-modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 70%; /* Could be more or less, depending on screen size */
}