<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.projectFinal.dao.MsgDao">

	<insert id="roomUpdate">

		insert IGNORE into
		duoT(userId,myPosition,tier,duoPosition,gameType,memo)
		values(#{userId},#{myPosition},#{tier},#{duoPosition},#{gameType},#{memo});

	</insert>

	<insert id="insertMsg">
		insert IGNORE into msgT(rCnt,userId,msg)
		values(#{rCnt},#{userId},#{msg});
	</insert>


	<delete id="connectRoom">

		insert IGNORE into  duoChattRoomT(rCnt,
		hostId,guestId)
		values(#{rCnt},#{hostId},#{guestId});

		delete from
		duoT where rCnt =
		#{rCnt};
	</delete>

	<select id = "chattInfo">
	
	select * from duoChattRoomT where rCnt = #{rCnt}; 
	
	
	</select>



</mapper>
