<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.projectFinal.dao.WebDao">



	<insert id="dbSaveInfoRiotTv">

		insert into
		riottvT(matchId,championName,teamId,teamName,kills,assists,deaths,kda,totalTimeSpentDead,visionWardsBoughtInGame
		,visionScore,win,gameStartTimestamp,riotIdGameName,riotIdTagline,goldEarned,totalDamageDealtToChampions,
		totalMinionsKilled,wardsPlaced,puuid,championId,koChampionName,
		participantId,winCheck)

		values(#{matchId},#{championName},#{teamId},#{teamName},#{kills},#{assists},#{deaths},#{kda},#{totalTimeSpentDead},#{visionWardsBoughtInGame}
		,#{visionScore},#{win},#{gameStartTimestamp},#{riotIdGameName},#{riotIdTagline},#{goldEarned},#{totalDamageDealtToChampions},
		#{totalMinionsKilled},#{wardsPlaced},#{puuid},#{championId},(select
		champion_name_kr from cn_kr where championId =
		#{championId}),#{participantId},#{winCheck});



	</insert>

	<select id="dbFindData">

		select matchId
		from riottvT
		where
		riotIdGameName=#{gameName} and riotIdTagline=#{tagLine}
		order by
		gameStartTimestamp desc,participantId
		limit #{matchIdCnt};

	</select>
	<select id="dbFindData1">

		select * from riottvT where matchId = #{matchId}
		order by participantId ;

	</select>
	<select id="matchListVsDb">

		select count(*) from riottvT where matchId =
		#{matchId};

	</select>


</mapper>