<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.projectFinal.dao.WebDao">



	<insert id="dbSaveInfoRiotTv">

		insert ignore into riottvT(matchId,teamId,championName
		,riotIdGameName,riotIdTagline
		,win,kda,
		soloKills,goldPerMinute,killParticipation,damageTakenOnTeamPercentage
		,teamDamagePercentage,totalTimeSpentDead,visionScore,visionWardsBoughtInGame
		,gameStartTimestamp) 
		
		 values(#{matchId},#{teamId},#{championName}
		 ,#{riotIdGameName},#{riotIdTagline}	
		 ,#{win},#{kda},
		#{soloKills},#{goldPerMinute},#{killParticipation},#{damageTakenOnTeamPercentage}
		,#{teamDamagePercentage},#{totalTimeSpentDead},#{visionScore},#{visionWardsBoughtInGame}
		,#{gameStartTimestamp})



	</insert>

	<select id="dbFindData">
	
		select matchId from riottvT where riotIdGameName=#{gameName} and riotIdTagline=#{tagLine} order by matchId desc  limit #{matchIdCnt};
	
	</select>
	<select id="dbFindData1">
	
		select * from riottvT where matchId = #{matchId} ;
	
	</select>
	<select id="matchListVsDb">
	
		select count(*) from riottvT where matchId = #{matchId};
	
	</select>


</mapper>